// Adjusting carousel to screen width

ngb-carousel img {
    margin-left: 0%;
    width: 100%;
    height: 250px;
  }
.card-border {
    border-bottom: grey 1px solid;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  ngb-carousel img {
    margin-left: 0%;
    width: 100%;
    height: 250px;
  }
  .card-border {
    border-bottom: grey 1px solid;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    ngb-carousel img {
        margin-left: 5%;
        width: 90%;
        height: 270px;
    }
    .card-border {
        border-bottom: grey 1px solid;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ngb-carousel img {
    margin-left: 10%;
    width: 80%;
    height: 290px;
  }
  .card-border {
    border-bottom: none;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ngb-carousel img {
    margin-left: 15%;
    width: 70%;
    height: 300px;
  }
  .card-border {
    border-bottom: none;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  ngb-carousel img {
    margin-left: 20%;
    width: 60%;
    height: 300px;
  }
  .card-border {
    border-bottom: none;
  } 
}

// Text colour & font in carousel
ngb-carousel div h3, p {
    color: rgb(126, 217, 6);
    font-weight: 900;
}

::ng-deep {
    .carousel-control-prev-icon {
        background-image: url('/assets/images/left-arrow.svg');
    }
    .carousel-control-next-icon {
        background-image: url('/assets/images/right-arrow.svg');
    }
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    margin-bottom: 0rem;
}


.title-text {
    color: #282572;
    margin-left: 0.7rem;
}
