.btn-light {
    margin: 5px;
    width: 10rem;
    min-height: 50px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    border-color: #ed5d4a;
    color: #ed5d4a;
    margin-top: 20px;
}
.btn-light:hover {
    background-color: #ed5d4a;
    color: rgb(242, 242, 241);
}


.icon-img {
    max-width: 60px; max-height: 60px;
}
