.fa-arrow-circle-right {
    color: #FFFFFF;
}
.card.text-white {
    margin: 15px;
}
.d-block {
    font-size: 20px;
}
.thumb-img {
    max-width: 200px; max-height: 200px;
}

.info-link {
    font-size: 12px;
    cursor: pointer;
}
.view-link {
    font-size: 20px;
}
.card-footer {
    cursor: pointer;
}
