<nav class="navbar navbar-expand-lg fixed-top">
    <span class="navbar-brand"><a  href="http://www.auscope.org.au/">
          <img id="org-logo" src="assets/images/auscope_single-colour-1.png" alt="AuScope Logo"/>
          </a>&nbsp;FOR TESTING PURPOSES ONLY
    </span>
    <span class="mx-auto"><img id="ardc-logo" src="assets/images/ardc_logo_rgb_small.png" style="height: 30px;"></span>
    <ul class="nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{homePath}}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:cg-admin@csiro.au?Subject=Auscope-App-Store"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact Us</a>
        </li>
    </ul>
</nav>