/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Card colour */
.bg-all {
   background-color: rgb(242, 242, 241);
}

/* Page colour */
.main-container {
   background-color: rgb(242, 242, 241);
   padding: 0px;
}

app-provider-card {
   margin: 10px;
}

/* Card title styling */
.info-txt {
   color: rgb(126, 124, 170);
   font-family: Calibri, 'Trebuchet MS', sans-serif;
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   min-height: 110px;
 }

/* Card info styling */
 .info-title {
   font-size: 21px;
   color: rgb(35, 31, 32);
   font-weight: 100;
   font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Title styling for a page */
.title-text {
   color: #282572;
   margin-left: 0.7rem;
   font-family: Calibri, 'Trebuchet MS', sans-serif;
   font-size: 34px;
 }

 /* Information link on card*/
 .info-link {
   font-size: 17px;
   cursor: pointer;
   color: rgb(126, 124, 170);
   font-family: Calibri, 'Trebuchet MS', sans-serif;
   font-style: normal;
   font-weight: 400;
}
